body {
    font-family: 'Roboto', sans-serif;
  }
  
  .las {
    font-family: 'Line Awesome', sans-serif;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:focus{
    outline: none;
}

body{
    background: #000000;
    font-family: 'Roboto', sans-serif;
    }
/*logo*/

.logo{
    height: 150px;
    width: 400px; 
    
}

    /* MEDIA QUERY*/

@media (max-width: 1000px) and (min-width:600px) {  
    .logo{
        height: 150px;
        width: 300px; 
        
    }
  }
    

@media (max-width: 767px) {
     .form_wrap {
    flex-direction: column;
    height: 1060px !important;
             
  }

  .cantact_info{
    width: 100% !important;
  }
  .form_contact {
    width: 100% !important;
  }
  #btnSend{
    margin: auto;
  }
  h2{
    text-align: center;
  }
}
/* FORMULARIO =================================== */

.form_wrap{
    width: 100%;
    height: 530px;
    margin: 50px auto;
    display: flex;

    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #19A7CE;
    opacity: 0.9;
}

.cantact_info{
    width: 50%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('https://i.postimg.cc/MpSbwQCN/fondo.jpg');
    background-size: cover;
    background-position: center center;

}

.info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: #F6F1F1;
}

.info_title{
    margin-bottom: 60px;
}

.info_title span{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2{
    font-size: 35px;
    text-align: center;
}

.info_items p{
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span{
    font-size: 30px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact{
    width: 62%;
    padding: 30px 40px;
    
}

form.form_contact h2{
	font-size: 25px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}


form.form_contact input,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Open sans';
	color: #5A5A5A;
	font-size: 14px;
	font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type="button"]{
    width: 180px;
	background: #146C94;
	padding: 10px;
	border: none;
	border-radius: 8px;

    align-self: flex-end;

    color: #fff;
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
	font-size: 16px;
	cursor: pointer;
}

form.form_contact input[type="button"]:hover{
    background: #a7a3a3;
}

/* Ventana de errores*/
.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: #ffff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-size: 20px;
	font-weight: 400;
}

.mensaje_modal h3:after{
    content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #C5C5C5;
	margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    content: "!";
    display: inline-block;
    color: #f7130c;
    margin-right: 8px;
}

#btnClose{
    display: inline-block;
	padding: 3px 10px;
	margin-top: 10px;

	background: #146C94;
	color: #fff;
	border: 2px solid #146C94;
	cursor: pointer;
    border-radius: 45px;

	
 }
