
*{
    margin: 0;
    padding: 0;
    outline:none;
    font-family: serif;

}
body{
    min-height:100vh;
    background: url(https://i.postimg.cc/Kvtzg3bK/Electricidad-y-Electronica-Perito-Industrial-1024x576.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.container-omar{
    max-width:450px;
    background-color: #fff;
    border-radius:7px;
    text-align:center;
    padding: 30px 35px 0 35px;
}
.container-omar header{
    font-size: 28px;
    font-weight:600px;
    margin:0 0 30px 0;
    background-color:#146C94;
    color:#fff;
    border-radius: 25px;

}
.container-omar .form-princ{
    width: 100%;
    overflow:hidden; 

}

.form-princ form{
    display:flex;
    width:400%; /*porcentaje porque hay cuatro paginas*/
}

.form-princ form .pagina{
    width:25%;
    transition: margin-left 0.3s ease-in-out;
    
    

}

.form-princ form .pagina .titulo{
    color:#146C94;
    text-align:left;
    font-size:20px;
    font-weight: 500;
}

.form-princ form .pagina .campo{
    /* height:35px; */
    max-width:350px;
    margin:40px 0;
    display:flex;
    position:relative;

}
.form-princ form .pagina .campo .label {
    position:absolute;
    top: -30px;
    font-weight: 500;
    font-size:14px;
    font-style: italic;
    float:left;
    text-align:left;
    width:100%;
}

.form-princ form .pagina .campo input{
    width:100%;
    height:100%;
    border:1px solid lightgray;
    border-radius:5px;
    font-size:16px;
    padding-left:15px;
}
.form-princ form .pagina .campo input[type="radio"]{
    width:5%;
   }

.form-princ form .pagina .campo select{
    width:100%;
    padding-left:10px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.form-princ form .pagina .campo button{
   
    width:100%;
    /* height: calc(100%+2px); para mantener estetica al cambiar de tamaño */
    margin-top:-20px;
    border:none;
    background:#146C94;
    border-radius:7px;
    color:#fff;
    font-size: 18px;
    letter-spacing:1px;
    text-transform: uppercase;
    cursor:pointer;
    transition: 0.9s ease;
}

.form-princ form .pagina .campo button:hover{
    background: #F6F1F1;
    color:#19A7CE;
    font-weight: 900;
}

.form-princ form .pagina .btns button{
    margin-top: -20px!important;

}
form .pagina .btns button.volver{
    margin-right:3px;
    font-size: 17px;
}
form .pagina .btns button.adelante{
    margin-left: 3px;
    font-size: 17px;
}

.container-omar .progress-bar{
    display: flex;
    margin:40px 0px;

}
.container-omar .progress-bar .paso{
    text-align: center;
    width: 100%;
    position:relative;
}

.progress-bar .paso p{
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-bottom: 8px;
}
.progress-bar .paso p.active{
    color:#19A7CE;
}
.progress-bar .paso .num{
    position:relative;
    width:25px;
    height: 25px;
    border:1px solid black;
    border-radius:50%;
    display:inline-block;
    font-weight: 500;
    font-size:17px;
    line-height: 25px;
}
.progress-bar .paso .num.active{
    border-color:#19A7CE;
    background-color:#76dbf763;
}
.progress-bar .paso .num.active span{
    display:none;
}
.progress-bar .pas
o .num span{
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}

.progress-bar .paso .check{
    display:none; 
    position:absolute;
    left:50%;
    top:70%;
    font-size:15px;
    transform: translate(-50%,-50%);
}
.progress-bar .paso .check.active{
    display:block;
    color:#19A7CE;
}

.progress-bar .paso .num::after,
.progress-bar .paso .num:before{  /*para dibujar la linea*/
    position:absolute;
    content:"";
    width:44px;
    height:3px;
    bottom: 11px;
    right: -53px;
    background:black;

}

.progress-bar .paso:last-child .num::after, /*ocultar el ultimo elemento*/
.progress-bar .paso:last-child .num:before{
    display:none;

}

.progress-bar .paso .num.active:after{
    background: #19A7CE;
    animation:mov_linea 0.5s linear forwards;
    transform: scaleX(0);
    transform-origin: left;


}
@keyframes mov_linea {
    100% {
        transform: scaleX(1);
    }
    
}

/*estiolos para mostarr la contraseña*/
.ojitos{
    position:absolute;
    top:29%;
    right:7px;
    font-size:20px;
    color:blue;
    
}
#ocultar{
    display: none;
}

#mostrar, #ocultar{
    cursor: pointer;
}

/*para mostrar el mensaje de error*/
.error{
    color:red;
    float:right;

    text-align:left;
    font-size: 0.7rem;
}
.pagina .campo span{
    
    /* min-height: 50%; */
    text-align: left;
}
fieldset{
    border:none;
}



@media only screen and (max-width: 375px) {
    .progress-bar .paso .num::after,
.progress-bar .paso .num:before{  /*para dibujar la linea*/
    position:absolute;
    content:"";
    width:30px;
    height:3px;
    bottom: 11px;
    right: -34px;
    background:black;

}

.progress-bar .paso:last-child .num::after, /*ocultar el ultimo elemento*/
.progress-bar .paso:last-child .num:before{
    display:none;

}

}



